<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # Authorization header
  RewriteCond %{HTTP:Authorization} ^(.*)
  RewriteRule .* - [e=HTTP_AUTHORIZATION:%1]

  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule /increscendo/index.html [L]
</IfModule>