/*#slider {
	background: red;
}*/


.contenedor-slider {
	position: relative;
	width: 100%;
	height: 100vh;
}

.content-img-slider {
	width: 100%;
	height: auto;
}

.content-img-slider:before {
	content: "";
	background: url(../img/bfrwhite.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 500px;
	width: 100%;
	z-index: 1;
}

#bg-home {
	position: relative;
	width: 100%;
	height: calc(100vh - 60px);
	object-fit: cover;
	z-index: 0;
}
/*Contenedor de titulos y botones de slider*/
.contenedor-sec-slider {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	margin: 0 10%;
	width: 80%;
}
/**/

/*in-titles*/
#bien-title {
	color: var(--color-primary);
}

#in-title {
	color: var(--color-secondary);
	font-family: 'Montserrat', sans-serif;
	font-weight: 900;
}

#in-slider-logo {
	display: none;
	z-index: 2;
}
/**/

.card-actions-slider {
	box-sizing: border-box;
	position: relative;
	bottom: 0px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem 0;
	z-index: 1;
}


.content-btn-slider {
	padding: 0px;
}

/*Main*/

.main {
	position: absolute;
	width: 100%;
	left: 0;
}

/*Social Links*/

 /* Fixed/sticky icon bar (vertically aligned 50% from the top of the screen) */
.icon-bar {
  position: fixed;
  z-index: 99;
  right: 0;
  bottom: -20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  height: 40px;
  width: 40px;
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  text-decoration: none;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #34518c;
  color: white;
}

.facebook:hover {
  background: #037db8 !important;
  color: white;
}

.tiktok {
  background: #000000;
  color: #02f7f7 !important;
}

.tiktok:hover {
  background: #000000;
  color: #f70072 !important;
}

.whatsapp {
  background: #25d366;
  color: white;
}

.whatsapp:hover {
  background: #128c7e !important;
  color: white;
}

.instagram {
  background: #d6249f;
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}

.instagram:hover {
  background: #d6249f;
  background: radial-gradient(circle at 40% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  box-shadow: 0px 3px 10px rgba(0,0,0,.25);
  color: white;
}

.youtube {
  background: #bb0000 !important;
  color: white;
}

.youtube:hover {
  background: #db2533 !important;
  color: white;
} 


/*RESPONSIVE DESIGN*/

@media (min-width: 576px) {
	
}

@media (min-width: 748px) {
	/*in-titles*/
	#bien-title {
		font-size: 2rem;
	}

	#in-title {
		font-size: 4rem;
	}
	/**/
	.content-img-slider:before {
		height: 600px;
	}
}

@media (min-width: 992px) {
	/*in-titles*/
	#bien-title {
		font-size: 2rem;
	}

	#in-title {
		font-size: 5rem;
	}
	/**/

	.main {
		width: calc(100% - 280px);
		left: 280px;
	}

	.card-actions-slider {
		padding: 3rem;
		justify-content: flex-start;
	}

	.content-img-slider:before {
		height: 700px;
	}
}

@media (min-width: 1200px) {
	/*ligo increscendo slider*/
	#in-slider-logo {
		display: block;
		height: 250px;
		width: 250px;
		object-fit: contain;
	}
	/**/

	.card-actions-slider {
		align-items: flex-start;
		padding: 3rem;
	}
}