/*#slider {
	background: red;
}*/


.contenedor-slider {
	position: relative;
	width: 100%;
	height: 100vh;
}

.content-img-slider {
	width: 100%;
	height: auto;
}

.content-img-slider:before {
	content: "";
	background: url(../img/bfrwhite.png);
	background-size: cover;
	background-repeat: no-repeat;
	position: absolute;
	bottom: -5px;
	left: 0;
	height: 500px;
	width: 100%;
	z-index: 1;
}

#bg-home {
	position: relative;
	width: 100%;
	height: calc(100vh - 60px);
	object-fit: cover;
	z-index: 0;
}
/*Contenedor de titulos y botones de slider*/
.contenedor-sec-slider {
	position: absolute;
	bottom: 0px;
	width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	margin: 0 10%;
	width: 80%;
}
/**/

/*in-titles*/
#bien-title {
	color: var(--btn-primary);
}

#in-title {
	color: var(--btn-secondary);
}

#in-slider-logo {
	display: none;
	z-index: 2;
}
/**/

.card-actions-slider {
	box-sizing: border-box;
	position: relative;
	bottom: 0px;
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2.5rem 0;
	z-index: 1;
}


.content-btn-slider {
	padding: 0px;
}

/*Main*/

.main {
	position: absolute;
	width: 100%;
	left: 0;
}

/*RESPONSIVE DESIGN*/

@media (min-width: 576px) {
	
}

@media (min-width: 748px) {
	/*in-titles*/
	#bien-title {
		font-size: 2rem;
	}

	#in-title {
		font-size: 4rem;
	}
	/**/
	.content-img-slider:before {
		height: 600px;
	}
}

@media (min-width: 992px) {
	/*in-titles*/
	#bien-title {
		font-size: 2rem;
	}

	#in-title {
		font-size: 5rem;
	}
	/**/

	.main {
		width: calc(100% - 280px);
		left: 280px;
	}

	.card-actions-slider {
		padding: 3rem;
		justify-content: flex-start;
	}

	.content-img-slider:before {
		height: 700px;
	}
}

@media (min-width: 1200px) {
	/*ligo increscendo slider*/
	#in-slider-logo {
		display: block;
		height: 250px;
		width: 250px;
		object-fit: contain;
	}
	/**/

	.card-actions-slider {
		align-items: flex-start;
		padding: 3rem;
	}
}