/*Cambiar color a programas por nivel*/

#bg-nivel-one {
	background: #0F2974;
}

#bg-nivel-two {
	background: #1DA3BB;
}

#bg-nivel-three {
	background: #10A633;
}

#bg-nivel-four {
	background: #AA179A;
}

/*Inicia Estilo*/

#programas {
	padding-top: 4rem;
}

#programas h2 {
	color: var(--color-primary);
	margin: 1rem 0rem 4rem 0rem;
}

.content-programs {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	max-width: 1000px;
	margin: 0;
}

.card-programas {
	height: 380px;
	width: 80%;
}

.card-program-level-part {
	height: 250px;
	width: 80%;
	max-width: 300px;
	box-sizing: border-box;
	margin: 1.5rem auto;
	border-radius: 8rem;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.card-program-level-part h3 {
	margin-top: 3rem;
	color: #fff;
	font-size: 3rem;
}

.card-program-old-part {
	height: 200px;
	width: 200px;
	background: #fff;
	box-shadow: 0rem 0rem 1.5rem rgba(0,0,0,0.3);
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
	top: -150px;
	margin: auto;
}

.edad-program {
	font-weight: 400;
	color: var(--color-primary);
}

.meses-program {
	color: #444444;
}

.card-program-old-part p {
	margin: 0;
	color: #444444;
	text-align: center;
	font-size: 1rem;
}

@media (min-width: 576px) {
	.card-programas {
		width: 300px;
	}

	.card-program-level-part {
		width: 380px;
	}
}

@media (min-width: 748px) {
	.card-programas {
		width: 450px;
	}

	.card-program-level-part {
		width: 80%;
		max-width: 80%;
	}
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}