@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,400;1,400;1,900&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Nunito:wght@900&display=swap');

:root {
	--color-primary: #163A6B;
	--color-secondary: #F39002;
	--color-gray: #757575;
	--shadow-normal: 5px 10px 15px rgba(0,0,0,0.1);
}


body {
	font-family: 'Nunito', sans-serif;
	font-size: 16px;
}

.cl-blanco {
	color: white;
}

.cl-negro {
	color: black;
}

body h1 {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	font-size: 2.5rem;
	margin: 0;
}

body h2 {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	font-size: 2rem;
	margin: 0;
}

body h3 {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	font-size: 1.5rem;
	margin: 0;
}

body h4 {
	font-family: 'Nunito', sans-serif;
	font-weight: 900;
	font-size: 1.2rem;
	margin: 0;
}

ul li {
	list-style: none;
}

a {
	text-decoration: none;
}

p {
	font-family: 'Roboto', sans-serif;
	line-height: 1.3rem;
	font-weight: thin;
}

button {
	border-color: none;
	border: none;
	font-size: 1rem;
	padding: 1rem;
	font-family: 'Nunito', sans-serif;
	font-weight: 400;
	margin: 0.5rem;
	transition: all .6s ease;
	border-radius: 25px;
}

button:hover {
	background: rgba(0,0,0,0.5);
}

.btn-primary {
	background: var(--color-primary);
	color: #fff;
	margin: 0.5rem;
}

.btn-secondary {
	background: var(--color-secondary);
	color: #fff;
	margin: 0.5rem;
}

.btn-brd-blanco {
	outline: solid #fff;
	color: #fff;
	outline-offset: -0.2rem;
	box-sizing: border-box;
	border-color: #fff;
	margin: 0.5rem;
	background: transparent;
}

.btn-brd-blanco:hover {
	background: rgba(0,0,0,0.1);
}

.btn-fill {
	width: 100%;
	background: var(--color-primary);
	color: #fff;
	margin: 0.5rem;
}

.btn-small {
	padding: 0.5rem 1rem;
	background: var(--color-primary);
	color: #fff;
	margin: 0.5rem;
}

.btn-wicon {
	padding: 1rem;
	background: var(--color-primary);
	color: #fff;
	margin: 0.5rem;
}

.btn-wicon svg {
	margin-right: 0.3rem;
}

.separator {
	margin: 0.5rem 0rem;
	height: 0.05rem;
	width: 100%;
	background: gray;
}

input {
	padding: 0.3rem 0.5rem;
}

/*Container*/

.contain {
	width: 80%;
	margin: 0 auto;
}

@media (min-width: 576px) {
	.contain {
		width: 80%;
	}

	body h1, body h2, body h3,body h4 {
		font-size: 2rem;
	}

	p {
		font-size: 1.3rem;
		line-height: 1.7rem;
	}
}

@media (min-width: 748px) {
	.contain {
		width: 90%;
	}

	body h1, body h2, body h3,body h4 {
		font-size: 2rem;
	}

	p {
		font-size: 1.2rem;
		line-height: 1.9rem;
	}
}

@media (min-width: 992px) {
	body {
		font-size: 14px;
	}

	.contain {
		width: 90%;
	}
}

@media (min-width: 1200px) {
	.contain {
		max-width: 800px;
	}
}








/*
@media (min-width: 576px) {
	
}

@media (min-width: 748px) {
	
}

@media (min-width: 992px) {
	
}

@media (min-width: 1200px) {
	
}
*/